Geocoding & places API with google maps API
Activate Geocoding api and Places API

In [1]:
# import googlemaps
from pprint import pprint
import requests
import pandas as pd
from urllib.parse import urlencode
import sqlite3
import re

In [7]:
google_maps_api_key = 'AIzaSyBSkxPvw0KCszCH3SwOynTdRqGyfIB_ORc'

In [4]:
# read ipg, drop SUBTOTAL
df = pd.read_excel(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")

df = df[df['Product Code'] != 'SUBTOTAL']

city_state = df[['Ship to City', 'State']]
city_state.drop_duplicates(inplace=True)
city_state

C:\Users\TonyW\AppData\Local\Temp\ipykernel_32804\3077081657.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_state.drop_duplicates(inplace=True)

     Ship to City State
0          WALNUT    CA
2          FOWLER    CA
4          CORONA    CA
10      ST GEORGE    UT
15       TOLLESON    AZ
...           ...   ...
1265       GENTRY    AR
1271  COLLEGEDALE    TN
1281       MENTOR    OH
1294     PLYMOUTH    MN
1295      HAMMOND    WI

[277 rows x 2 columns]

In [10]:
df = pd.read_csv(r'nolat.csv')
city_state = df[['Ship to City', 'State']]
city_state.drop_duplicates(inplace=True)
city_state

C:\Users\tonyw\AppData\Local\Temp\ipykernel_14452\2980238580.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_state.drop_duplicates(inplace=True)

       Ship to City State
0              WEED    CA
1           COMPTON    CA
2    PORT COQUITLAM    BC
4            FOWLER    CA
18   FOOTHILL RANCH    CA
..              ...   ...
771      LOVES PARK    IL
772          MENTOR    OH
778    BUENOS AIRES    XX
780            CARY    NC
781      GREENFIELD    IN

[239 rows x 2 columns]

In [5]:
def extract_lat_lng(address_or_postalcode, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(200, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

In [8]:
extract_lat_lng('Lolita, TX')

(28.8394332, -96.5424743)

In [20]:
# Assuming df is your DataFrame containing "Ship to City" and "State" columns
latitudes = []
longitudes = []
city_state = []

for index, row in city_state.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(city_state)
    latitudes.append(lat)
    longitudes.append(lng)
    city_state.append(city_state)

# Create a new DataFrame to store the results
output_df = pd.DataFrame({
    'City_State': city_state,
    'Latitude': latitudes,
    'Longitude': longitudes
})

# Save the DataFrame to a CSV file
output_df.to_csv('city_state_lat_lng2.csv', index=False)

AttributeError: 'list' object has no attribute 'iterrows'

In [5]:
first_10 = city_state.iloc[:-10]

In [6]:
# Create SQLite connection and cursor
conn = sqlite3.connect('geocoding_data.db')
cur = conn.cursor()

# Create a table to store the data
cur.execute('''CREATE TABLE IF NOT EXISTS geolocation (
               City TEXT,
               State TEXT,
               Latitude REAL,
               Longitude REAL)''')

# Assuming df is your DataFrame containing "Ship to City" and "State" columns
for index, row in first_10.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(address)
    # Insert data into SQLite table
    cur.execute("INSERT INTO geolocation(City, State, Latitude, Longitude) VALUES (?, ?, ?, ?)", (city, state, lat, lng))

# Commit changes and close connection
conn.commit()
conn.close()

In [12]:
df = pd.read_excel(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")
last_column_name = df.columns[-1]
print(last_column_name)

# Define a regex pattern to extract date and hour
pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')
# Use regex to extract date and hour
match = pattern.search(last_column_name)

if match:
    # Extracted date and hour
    extracted_date = match.group(1)
    extracted_hour = match.group(2)

    print("Extracted Date:", extracted_date)
    print("Extracted Hour:", extracted_hour)
    df['report_date'] = extracted_date
    df['report_hour'] = extracted_hour
else:
    print("Pattern not found in the given string.")

df.to_csv('ipg.csv')

Report run at 2024-3-7 H12M0
Extracted Date: 2024-3-7
Extracted Hour: 12

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SITE                               902 non-null    object
 1   B/L Number                         902 non-null    object
 2   Truck Appointment Date (YY/MM/DD)  902 non-null    object
 3   B/L Weight (LB)                    902 non-null    float64
 4   Freight Amount ($)                 902 non-null    float64
 5   Truck Appt. Time                   396 non-null    object
 6   PickUp Date (YY/MM/DD)             902 non-null    object
 7   State                              902 non-null    object
 8   Ship to City                       902 non-null    object
 9   Ship to Customer                   902 non-null    object
 10  Order Number                       902 non-null    object
 11  Order Item                         902 non-null    float64
 12  CSR                                902 non-null    object
 13  Freight Term                       902 non-null    object
 14  Require Date (YY/MM/DD)            902 non-null    object
 15  Schedule Date (YY/MM/DD)           902 non-null    object
 16  Unshipped Weight (Lb)              902 non-null    float64
 17  Product Code                       1298 non-null   object
 18  Pick Weight (Lb)                   1298 non-null   float64
 19  Number of Pallet                   1298 non-null   int64
 20  Pickup By                          902 non-null    object
 21  Change Date (YY/MM/DD)             902 non-null    object
 22  Carrier ID                         420 non-null    object
 23  Arrange By                         420 non-null    object
 24  Unit Freight (cent/Lb)             902 non-null    float64
 25  Waybill Number                     376 non-null    object
 26  Sales Code                         902 non-null    object
 27  Transportation Code                902 non-null    object
 28  Transaction Type                   902 non-null    object
 29  Product Group                      902 non-null    object
 30  Report run at 2024-3-7 H12M0       0 non-null      float64
 31  report_date                        1298 non-null   object
 32  report_hour                        1298 non-null   object
dtypes: float64(7), int64(1), object(25)
memory usage: 334.8+ KB

In [6]:
import pandas as pd
import sqlite3
import re
from datetime import datetime

# Read the Excel file into a DataFrame
df = pd.read_excel('AmTopp Current Pickup Detail Report as of 2024-3-4 H9M0.xlsx')
df = df[df['Product Code'] != 'SUBTOTAL']

# Get the name of the last column
last_column_name = df.columns[-1]
df['report_run'] = last_column_name

df

,SITE,B/L Number,Truck Appointment Date (YY/MM/DD),B/L Weight (LB),Freight Amount ($),Truck Appt. Time,PickUp Date (YY/MM/DD),State,Ship to City,Ship to Customer,...,Carrier ID,Arrange By,Unit Freight (cent/Lb),Waybill Number,Sales Code,Transportation Code,Transaction Type,Product Group,Report run at 2024-3-4 H9M0,report_run
0,AMAZ,WZ1B218,0,1348.00,0.0,NaN,24/01/30,BC,PORT COQUITLAM,SYSCO VANCOUVER - 044,...,NaN,NaN,0.0,NaN,SWSP,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
2,AMAZ,WZ2A087,0,9078.00,0.0,NaN,24/03/01,NM,CLOVIS,SOUTHWEST CHEESE CO LLC,...,NaN,NaN,0.0,NaN,SWCK,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
4,AMAZ,WZ2A135,0,11329.00,0.0,NaN,24/02/26,CA,FOOTHILL RANCH,"NOVATECH PACKAGING SYSTEMS, INC",...,NaN,NaN,0.0,NaN,SWJV,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
5,AMAZ,WZ2A135,0,11329.00,0.0,NaN,24/03/01,CA,FOOTHILL RANCH,"NOVATECH PACKAGING SYSTEMS, INC",...,NaN,NaN,0.0,NaN,SWJV,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
7,AMAZ,WZ2A325,0,6205.00,0.0,NaN,24/02/26,AZ,PHOENIX,AMERICAN MACHINERY PACKAGING,...,NaN,NaN,0.0,NaN,SWCK,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,VAMT,2068423,0,33693.35,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1104,VAMT,2068424,0,37944.34,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1105,VAMT,2068424,0,37944.34,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1107,VAMT,2068425,0,32758.74,0.0,NaN,24/03/03,TN,COLLEGEDALE,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1108,VAMT,2068425,0,32758.74,0.0,NaN,24/03/03,TN,COLLEGEDALE,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0

In [34]:
import pandas as pd
import sqlite3
import re
from datetime import datetime

# Read the Excel file into a DataFrame
df = pd.read_excel('AmTopp Current Pickup Detail Report as of 2024-3-4 H12M0.xlsx')
df = df[df['Product Code'] != 'SUBTOTAL']

# Get the name of the last column
last_column_name = df.columns[-1]
df['report_run'] = last_column_name

# Define a regex pattern to extract date and hour
pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')

# Use regex to extract date and hour for each row in the 'report_run' column
df['extracted'] = df['report_run'].apply(lambda x: pattern.search(str(x)))

# Extracted date and hour
df['extracted_date'] = df['extracted'].apply(lambda x: x.group(1) if x else None)
df['extracted_hour'] = df['extracted'].apply(lambda x: x.group(2) if x else None)

# Convert 'extracted_hour' to int
df['report_hour'] = pd.to_numeric(df['extracted_hour'], errors='coerce').astype('Int64')

# Convert 'extracted_date' to datetime
df['report_date'] = pd.to_datetime(df['extracted_date'], errors='coerce')


df['Truck Appointment Date'] = pd.to_datetime(df['Truck Appointment Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['PickUp Date'] = pd.to_datetime(df['PickUp Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Require Date'] = pd.to_datetime(df['Require Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Schedule Date'] = pd.to_datetime(df['Schedule Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Change Date'] = pd.to_datetime(df['Change Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')

# columns to keep 
columns_to_keep = [
    'SITE', 'B/L Number', 'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
       'State', 'Ship to City', 'Ship to Customer',
       'Order Number', 'Order Item', 'CSR', 'Freight Term',
       'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
       'Number of Pallet', 'Pickup By', 'Carrier ID',
       'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
       'Transportation Code', 'Transaction Type', 'Product Group',
       'report_run', 'report_hour', 'report_date', 'Truck Appointment Date',
       'PickUp Date', 'Require Date', 'Schedule Date', 'Change Date'
]
df = df[columns_to_keep]
df

,SITE,B/L Number,B/L Weight (LB),Freight Amount ($),Truck Appt. Time,State,Ship to City,Ship to Customer,Order Number,Order Item,...,Transaction Type,Product Group,report_run,report_hour,report_date,Truck Appointment Date,PickUp Date,Require Date,Schedule Date,Change Date
0,AMAZ,WZ2A087,9078.00,0.00,NaN,NM,CLOVIS,SOUTHWEST CHEESE CO LLC,W42A087,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-01,2024-03-01,2024-03-01,2024-03-01
2,AMAZ,WZ2A296,3895.00,0.00,NaN,WA,BLAINE,CROWN PACKAGING/IPS,W42A296,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-03-13,2024-03-13,2024-03-04
4,AMAZ,WZ2A325,6205.00,0.00,NaN,AZ,PHOENIX,AMERICAN MACHINERY PACKAGING,W42A325,2.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-26,2024-02-29,2024-02-29,2024-02-26
6,AMAZ,WZ2A399,3370.00,0.00,NaN,CA,FONTANA,WORLD CLASS DISTRIBUTION - FONTANA,W42A399,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-27,2024-03-12,2024-03-12,2024-02-27
8,AMAZ,WZ2A502,23192.00,0.00,NaN,CA,CORONA,TRM MANUFACTURING,W42A502,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-20,2024-03-15,2024-03-15,2024-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,VAMT,2068428,38405.43,1028.96,NaN,TN,MEMPHIS,BRYCE CORPORATION,B4TA695,2.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,2024-03-14,2024-03-04,2024-03-15,2024-03-15,2024-03-04
1403,VAMT,2068429,29398.40,0.00,NaN,MO,JACKSON,MONDI - JACKSON WAREHOUSE,B4TA232,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-02-14,2024-03-04,2024-03-04
1404,VAMT,2068429,29398.40,0.00,NaN,MO,JACKSON,MONDI - JACKSON WAREHOUSE,B4TA248,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-02-23,2024-03-04,2024-03-04
1406,VAMT,2068430,6034.12,1020.00,NaN,GA,ROME,PPC FLEXIBLE PACKAGING,B4TA034,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,2024-03-06,2024-03-04,2024-01-31,2024-01-31,2024-03-04
1408,VAMT,2068432,36972.59,0.00,NaN,IN,GREENFIELD,AVERY DENNISON CORPORATION,B4TA702,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-03-11,2024-03-11,2024-03-04

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 0 to 1408
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITE                    950 non-null    object
 1   B/L Number              950 non-null    object
 2   B/L Weight (LB)         950 non-null    float64
 3   Freight Amount ($)      950 non-null    float64
 4   Truck Appt. Time        325 non-null    object
 5   State                   950 non-null    object
 6   Ship to City            950 non-null    object
 7   Ship to Customer        950 non-null    object
 8   Order Number            950 non-null    object
 9   Order Item              950 non-null    float64
 10  CSR                     950 non-null    object
 11  Freight Term            950 non-null    object
 12  Unshipped Weight (Lb)   950 non-null    float64
 13  Product Code            950 non-null    object
 14  Pick Weight (Lb)        950 non-null    float64
 15  Number of Pallet        950 non-null    int64
 16  Pickup By               950 non-null    object
 17  Carrier ID              352 non-null    object
 18  Arrange By              352 non-null    object
 19  Unit Freight (cent/Lb)  950 non-null    float64
 20  Waybill Number          295 non-null    object
 21  Sales Code              950 non-null    object
 22  Transportation Code     950 non-null    object
 23  Transaction Type        950 non-null    object
 24  Product Group           950 non-null    object
 25  report_run              950 non-null    object
 26  report_hour             950 non-null    Int64
 27  report_date             950 non-null    datetime64[ns]
 28  Truck Appointment Date  352 non-null    datetime64[ns]
 29  PickUp Date             950 non-null    datetime64[ns]
 30  Require Date            950 non-null    datetime64[ns]
 31  Schedule Date           950 non-null    datetime64[ns]
 32  Change Date             950 non-null    datetime64[ns]
dtypes: Int64(1), datetime64[ns](6), float64(6), int64(1), object(19)
memory usage: 253.3+ KB

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'geo.csv')
df

               City State   Latitude   Longitude
0    PORT COQUITLAM    BC  49.262838 -122.781071
1            CLOVIS    NM  34.404799 -103.205227
2            FOWLER    CA  36.630506 -119.678470
3    FOOTHILL RANCH    CA  33.683183 -117.666431
4            DENVER    CO  39.739236 -104.990251
..              ...   ...        ...         ...
234      SCOTT CITY    MO  37.216718  -89.524534
235        LEWISTON    ME  44.100351  -70.214776
236         GLENCOE    MN  44.769044  -94.151752
237        BLUFFTON    IN  40.738658  -85.171637
238    CHESTERFIELD    MI  42.696066  -82.799419

[239 rows x 4 columns]

In [4]:
import sqlite3

conn = sqlite3.connect('ipg.db')
df.to_sql('lat_lng', conn, if_exists='replace', index=True)

239

In [4]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\tonyw\Downloads\2024-03-06T02-32_export.csv")


import requests
from urllib.parse import urlencode

def extract_lat_lng(address_or_postalcode, data_type='json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)

    if r.status_code not in range(200, 299):
        return None, None

    latlng = {}
    try:
        results = r.json().get('results', [])
        if results:
            geometry = results[0].get('geometry', {})
            location = geometry.get('location', {})
            latlng = {
                'lat': location.get('lat'),
                'lng': location.get('lng')
            }
    except Exception as e:
        print(f"Error parsing response: {e}")

    lat = latlng.get('lat')
    lng = latlng.get('lng')

    return lat, lng


# Assuming null_lat_lng_rows is your DataFrame containing rows with null values
for index, row in df.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(city_state)

    
    # Now you can use lat and lng as needed, and they will be None if not available
    print(f"Address: {address}, Lat: {lat}, Lng: {lng}")

NameError: name 'city_state' is not defined

In [17]:
df = pd.read_csv(r"C:\Users\tonyw\Downloads\2024-03-06T02-32_export.csv")

df = df[['State', 'Ship to City']]

subset_columns = ['State', 'Ship to City']
no_dups_df = df.drop_duplicates(subset=subset_columns)
no_dups_df

   State   Ship to City
0     WA       WOODLAND
2     WA       PUYALLUP
3     CO      HENDERSON
4     WI        OSHKOSH
5     MA        SPENCER
8     QC     TERREBONNE
9     OH   LEWIS CENTER
11    VA       DANVILLE
12    LA     SHREVEPORT
13    AR    HOT SPRINGS
14    AL     BIRMINGHAM
15    AZ       TOLLESON
16    MN    MINNEAPOLIS
17    IA         ANKENY
20    NJ      MOONACHIE
21    MD   WILLIAMSPORT
23    NJ     PENNSAUKEN
24    MO      HAZELWOOD
26    MN          OSSEO
28    PA        BERWICK
29    NC    STATESVILLE
31    VA     DISPUTANTA
32    NC  BROWNS SUMMIT
34    TN      CLEVELAND
36    KY         LONDON
37    AR         GENTRY
40    VA  STUARTS DRAFT
41    TN    COLLEGEDALE
47    IL  DOWNERS GROVE
51    IL     LOVES PARK
52    OH         MENTOR
56    XX   BUENOS AIRES
58    NC           CARY
59    IN     GREENFIELD

In [19]:
import pandas as pd
import requests
from urllib.parse import urlencode

def extract_lat_lng(address_or_postalcode, data_type='json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)

    if r.status_code not in range(200, 299):
        return None, None

    latlng = {}
    try:
        results = r.json().get('results', [])
        if results:
            geometry = results[0].get('geometry', {})
            location = geometry.get('location', {})
            latlng = {
                'lat': location.get('lat'),
                'lng': location.get('lng')
            }
    except Exception as e:
        print(f"Error parsing response: {e}")

    lat = latlng.get('lat')
    lng = latlng.get('lng')

    return lat, lng

# Assuming df_no_duplicates is your DataFrame without duplicates
# Create a new DataFrame to store the results
df_with_lat_lng = pd.DataFrame(columns=['Ship to City', 'State', 'Lat', 'Lng'])

# Iterate over rows in df_no_duplicates and apply extract_lat_lng
for index, row in no_dups_df.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(address)

    # Append the results to df_with_lat_lng
    df_with_lat_lng = df_with_lat_lng.append({'Ship to City': city, 'State': state, 'Lat': lat, 'Lng': lng}, ignore_index=True)

# Display the DataFrame with latitude and longitude information
print(df_with_lat_lng)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\TonyW\Downloads\IPG_EZ_lat_lon.csv")
df

          id        city_ascii state_id        lat        lon
0          1        San German       PR  18.082700 -67.046000
1          2           Luyando       PR  18.357500 -67.155300
2          3            Aguada       PR  18.380300 -67.188400
3          4        Carrizales       PR  18.481100 -66.787900
4          5         Corcovado       PR  18.461000 -66.777800
...      ...               ...      ...        ...        ...
30866  30869  SCHODACK LANDING       NY  42.475080 -73.744870
30867  30870          WINTHROP       ME  44.305140 -69.977300
30868  30871         LYNDHURST       NJ  40.802738 -74.122864
30869  30872          PEMBROKE       NH  43.146750 -71.457570
30870  30874       SAINT LOUIS       MO  38.627003 -90.199402

[30871 rows x 5 columns]

In [7]:
df = df.rename(columns={
    'id': 'Index',
    'city_ascii': 'City',
    'state_id': 'State',
    'lat': 'Latitude',
    'lon': 'Longitude'
})
df

          ID              City State   Latitude  Longitude
0          1        San German    PR  18.082700 -67.046000
1          2           Luyando    PR  18.357500 -67.155300
2          3            Aguada    PR  18.380300 -67.188400
3          4        Carrizales    PR  18.481100 -66.787900
4          5         Corcovado    PR  18.461000 -66.777800
...      ...               ...   ...        ...        ...
30866  30869  SCHODACK LANDING    NY  42.475080 -73.744870
30867  30870          WINTHROP    ME  44.305140 -69.977300
30868  30871         LYNDHURST    NJ  40.802738 -74.122864
30869  30872          PEMBROKE    NH  43.146750 -71.457570
30870  30874       SAINT LOUIS    MO  38.627003 -90.199402

[30871 rows x 5 columns]

In [9]:
import sqlite3
df = df[['City',	'State',	'Latitude',	'Longitude']]
# SQLite database connection
conn = sqlite3.connect('ipg.db')  # Change 'your_database.db' to your desired SQLite database file name

# Append DataFrame to the 'lat_lon' table in the SQLite database
df.to_sql('lat_lng', conn, index=False, if_exists='append')
conn.close()

In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('ipg.db')

df = pd.read_csv(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1532 entries, 0 to 1531
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1532 non-null   int64
 1   SITE                    1532 non-null   object
 2   B/L Number              1532 non-null   object
 3   B/L Weight (LB)         1532 non-null   float64
 4   Freight Amount ($)      1532 non-null   float64
 5   Truck Appt. Time        682 non-null    object
 6   State                   1532 non-null   object
 7   Ship to City            1532 non-null   object
 8   Ship to Customer        1532 non-null   object
 9   Order Number            1532 non-null   object
 10  Order Item              1532 non-null   int64
 11  CSR                     1532 non-null   object
 12  Freight Term            1532 non-null   object
 13  Unshipped Weight (Lb)   1532 non-null   float64
 14  Product Code            1532 non-null   object
 15  Pick Weight (Lb)        1532 non-null   float64
 16  Number of Pallet        1532 non-null   int64
 17  Pickup By               1532 non-null   object
 18  Carrier ID              720 non-null    object
 19  Arrange By              720 non-null    object
 20  Unit Freight (cent/Lb)  1532 non-null   float64
 21  Waybill Number          646 non-null    object
 22  Sales Code              1532 non-null   object
 23  Transportation Code     1532 non-null   object
 24  Transaction Type        1532 non-null   object
 25  Product Group           1532 non-null   object
 26  report_run              1532 non-null   object
 27  report_hour             1532 non-null   int64
 28  report_date             1532 non-null   object
 29  Truck Appointment Date  720 non-null    object
 30  PickUp Date             1532 non-null   object
 31  Require Date            1532 non-null   object
 32  Schedule Date           1530 non-null   object
 33  Change Date             1532 non-null   object
 34  file_name               1532 non-null   object
 35  City                    1513 non-null   object
 36  Latitude                1513 non-null   float64
 37  Longitude               1513 non-null   float64
dtypes: float64(7), int64(4), object(27)
memory usage: 454.9+ KB

In [2]:
from utils.process_excel_data import process_excel_data
file = r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx"



df = process_excel_data(file)
df

DatabaseError: Execution failed on sql 'SELECT DISTINCT file_name FROM shipments WHERE file_name = 'AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx'': no such table: shipments

In [12]:
import re
import pandas as pd 
import sqlite3
import os

def process_excel_data_x(file_path):
    """
    Process data from an Excel file and perform necessary transformations.

    Parameters:
    - file_path (str): Path to the Excel file.

    Returns:
    - pd.DataFrame: Processed DataFrame with selected columns.
    """

    # Read the Excel file into a DataFrame
    df = pd.read_excel(file_path)
    # Use os.path.basename to get the file name from the file path
    file_name = os.path.basename(file_path)
    # Filter out rows with 'Product Code' equal to 'SUBTOTAL'
    df = df[df['Product Code'] != 'SUBTOTAL']

  
    # Get the name of the last column
    last_column_name = df.columns[-1]
    df['report_run'] = last_column_name

    # Define a regex pattern to extract date and hour
    pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')

    # Use regex to extract date and hour for each row in the 'report_run' column
    df['extracted'] = df['report_run'].apply(lambda x: pattern.search(str(x)))

    # Extracted date and hour
    df['extracted_date'] = df['extracted'].apply(lambda x: x.group(1) if x else None)
    df['extracted_hour'] = df['extracted'].apply(lambda x: x.group(2) if x else None)

    # Convert 'extracted_hour' to int
    df['report_hour'] = pd.to_numeric(df['extracted_hour'], errors='coerce').astype('Int64')

    # Convert 'extracted_date' to datetime
    df['report_date'] = pd.to_datetime(df['extracted_date'], errors='coerce')

    # Convert date columns to datetime
    date_columns = ['Truck Appointment Date (YY/MM/DD)', 'PickUp Date (YY/MM/DD)',
                    'Require Date (YY/MM/DD)', 'Schedule Date (YY/MM/DD)',
                    'Change Date (YY/MM/DD)']

    for col in date_columns:
        df[col.replace(' (YY/MM/DD)', '')] = pd.to_datetime(df[col], format='%y/%m/%d', errors='coerce')

    # Columns to keep
    columns_to_keep = [
        'SITE', 'B/L Number', 'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
        'State', 'Ship to City', 'Ship to Customer',
        'Order Number', 'Order Item', 'CSR', 'Freight Term',
        'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
        'Number of Pallet', 'Pickup By', 'Carrier ID',
        'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
        'Transportation Code', 'Transaction Type', 'Product Group',
        'report_run', 'report_hour', 'report_date', 'Truck Appointment Date',
        'PickUp Date', 'Require Date', 'Schedule Date', 'Change Date'
    ]

    # Select the columns to keep
    df = df[columns_to_keep]
    # Add file name to df
    df['file_name'] = file_name
    conn = sqlite3.connect('ipg.db')
    query = 'Select City, State, Latitude, Longitude from lat_lng'
    lat_lng_df = pd.read_sql_query(query, conn)

    # Merge the lat_lng data with your original DataFrame
    df = pd.merge(df, lat_lng_df, left_on=['State', 'Ship to City'], right_on=['State', 'City'], how='left')

    no_ship_df = df[df['Truck Appointment Date'].isnull()]

      
    # Check for existing records with the same file_name
    # existing_query = f"SELECT DISTINCT file_name FROM shipments WHERE file_name = '{file_name}'"
    
    # existing_records = pd.read_sql_query(existing_query, conn)
    # print(existing_records)
    # # Filter out existing records
    # new_records_df = df[~df['file_name'].isin(existing_records['file_name'])]

    # # Insert new records into the shipments table
    df.to_sql('shipments', conn, index=False, if_exists='append')
    no_ship_df.to_sql('no_ship', conn, index=True, if_exists='replace')

    conn.close()
   

    return df, no_ship_df

In [13]:
#from utils.process_excel_data import process_excel_data

file = r"C:\Users\tonyw\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H9M0.xlsx"
df , no_ship = process_excel_data_x(file)

In [14]:
no_ship

,SITE,B/L Number,B/L Weight (LB),Freight Amount ($),Truck Appt. Time,State,Ship to City,Ship to Customer,Order Number,Order Item,...,report_date,Truck Appointment Date,PickUp Date,Require Date,Schedule Date,Change Date,file_name,City,Latitude,Longitude
0,AMAZ,WZ1B250,8682.00,0.0,NaN,CA,WALNUT,KELLY SPICERS,W41B250,6.0,...,2024-03-07,NaT,2024-03-07,2024-02-20,2024-02-20,2024-03-07,AmTopp Current Pickup Detail Report as of 2024...,WALNUT,34.020289,-117.865339
1,AMAZ,WZ2A104,2894.00,0.0,NaN,CA,FOWLER,MID VALLEY PACKAGING & SUPPLY CO.,W42A104,10.0,...,2024-03-07,NaT,2024-03-07,2024-03-01,2024-03-01,2024-03-07,AmTopp Current Pickup Detail Report as of 2024...,FOWLER,36.630506,-119.678470
2,AMAZ,WZ2A502,23192.00,0.0,NaN,CA,CORONA,TRM MANUFACTURING,W42A502,1.0,...,2024-03-07,NaT,2024-02-20,2024-03-15,2024-03-15,2024-02-20,AmTopp Current Pickup Detail Report as of 2024...,CORONA,33.875293,-117.566438
3,AMAZ,WZ2A502,23192.00,0.0,NaN,CA,CORONA,TRM MANUFACTURING,W42A502,1.0,...,2024-03-07,NaT,2024-02-27,2024-03-15,2024-03-15,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,CORONA,33.875293,-117.566438
4,AMAZ,WZ2A545,3628.00,0.0,NaN,CA,WALNUT,TMV PACKAGING,W42A545,3.0,...,2024-03-07,NaT,2024-02-26,2024-02-29,2024-03-08,2024-02-27,AmTopp Current Pickup Detail Report as of 2024...,WALNUT,34.020289,-117.865339
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
875,VAMT,2068450,36757.42,0.0,NaN,KY,LOUISVILLE,LOUISVILLE BAKERY PLANT,B4TA246,1.0,...,2024-03-07,NaT,2024-03-06,2024-03-04,2024-03-20,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,LOUISVILLE,38.252665,-85.758456
876,VAMT,2068453,25104.16,0.0,NaN,IN,EDINBURGH,SONOCO FLEXIBLE PACKAGING,BX41242,1.0,...,2024-03-07,NaT,2024-03-06,2024-02-20,2024-02-20,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,EDINBURGH,39.350900,-85.962500
877,VAMT,2068453,25104.16,0.0,NaN,IN,EDINBURGH,SONOCO FLEXIBLE PACKAGING,BX42241,1.0,...,2024-03-07,NaT,2024-03-06,2024-02-28,2024-02-28,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,EDINBURGH,39.350900,-85.962500
884,VAMT,2068459,42032.86,0.0,NaN,OH,MENTOR,AVERY DENNISON,B4TA730,1.0,...,2024-03-07,NaT,2024-03-06,2024-03-12,2024-03-12,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,MENTOR,41.689300,-81.336200
885,VAMT,2068460,40018.01,0.0,NaN,OH,MENTOR,AVERY DENNISON,B4TA731,1.0,...,2024-03-07,NaT,2024-03-06,2024-03-12,2024-03-12,2024-03-06,AmTopp Current Pickup Detail Report as of 2024...,MENTOR,41.689300,-81.336200

In [47]:
qry = """
    SELECT `B/L Number`, `B/L Weight (LB)`, sum(`Number of Pallet`) as `Plt`,
    `City`, `State`, `Latitude`, `Longitude`
    FROM not_ship
    WHERE `B/L Number` NOT LIKE 'WZ%' and SITE = 'AMJK' and `Product Group` = 'SW'
    GROUP BY `B/L Number`
"""

In [48]:
import sqlite3

conn = sqlite3.Connection('ipg.db')
#qry = "SELECT `B/L Number`, `B/L Weight (LB)`, sum(`Number of Pallet`) as `Plt`, `City`, `State`,`Latitude`, `Longitude` from not_ship WHERE `B/L Number` NOT like 'WZ%' group by `B/L Number`"

df = pd.read_sql_query(qry, conn)
df

df_ll = df[['Latitude', 'Longitude']]

df_ll

     Latitude   Longitude
0   34.938728  -82.227057
1   35.083201  -80.892296
2   35.994033  -78.898619
3   32.790637  -79.878030
4   34.702339  -82.464571
..        ...         ...
56  30.332184  -81.655651
57  38.356577 -121.987744
58  30.332184  -81.655651
59  33.875293 -117.566438
60  32.465300  -93.795500

[61 rows x 2 columns]

In [54]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('ipg.db')  # Replace 'your_database.db' with your actual database file

# Use pandas to query the view and load the results into a DataFrame
query = "SELECT * FROM my_view"
df = pd.read_sql_query(query, conn)

# Print or process the DataFrame
print(df)

# Close the connection
conn.close()

   B/L Number  B/L Weight (LB)  Plt           City State   Latitude  \
0     W41A727           5894.0   14      WOOD DALE    IL  41.963363
1     W41A919          28519.0   19        CROWLEY    LA  30.217500
2     W41A929           6440.0    5         TUPELO    MS  34.269200
3     W41C097           5478.0    6        ONTARIO    CA  34.063344
4     W41D848           7680.0    6         DALLAS    TX  32.776664
5     W42A038           9745.0   10      LA VERGNE    TN  36.015618
6     W42A152           7820.0   19     RUFFS DALE    PA  40.175072
7     W42A210           7345.0    5        LEBANON    TN  36.208110
8     W42A330           9002.0    7       APPLETON    WI  44.261931
9     W42A379           9474.0    7          TULSA    OK  36.153982
10    W42A395           4392.0   12         IRVING    TX  32.814018
11    W42A481           2482.0    2      SAN DIEGO    CA  32.715738
12    W42A585           2560.0    2         RIPLEY    TN  35.744900
13    W42A639          26624.0   26     MORRISTOWN    NJ  40.796700
14    W42A707           5641.0    4  BOWLING GREEN    OH  41.377600
15    W42A739           7680.0    5  GRAND PRAIRIE    TX  32.745964
16    W42A778           7446.0    6          PARIS    TN  36.302002
17    W42A800           4662.0    4        BENICIA    CA  38.049365
18    W42A869           5332.0    4          TAMPA    FL  27.951690
19    W42A899           4460.0   10          TAMPA    FL  27.951690
20    W42A998           3840.0    3      VACAVILLE    CA  38.356577
21    W42B020          13571.0    9        DENISON    TX  33.767200
22    W42B028          10333.0    7         TUCSON    AZ  32.253979
23    W42B032           8154.0    6         NEWARK    CA  37.529976
24    W42B056           9025.0    9        COMPTON    CA  33.895849
25    W42B099           2560.0    2     PRATTVILLE    AL  32.459700
26    W42B108          14465.0   11      NORTHLAKE    IL  41.917253
27    W42B109          19549.0   13       STOCKTON    CA  37.957702
28    W42B194           7445.0    5         FRESNO    CA  36.737798
29    W42B235          10441.0   14    SAN ANTONIO    TX  29.425190
30    W42B251           6678.0    9         WALTON    KY  38.875619
31    W42B287           6935.0    5      RIVERDALE    CA  36.431061
32    W42B306           7340.0    6     SIOUX CITY    IA  42.495900
33    W42B356          20016.0   14          LYONS    GA  32.206200
34    W42B357          11507.0   10         WAUSAU    WI  44.959135
35    W42B939           6052.0    4         CLOVIS    NM  34.404799
36    W42C078           1382.0    1     BIRMINGHAM    AL  33.527900
37    W42C347           3660.0   10     UNION CITY    CA  37.595770
38    W42D189           8960.0    7       GALLATIN    TN  36.388343
39    W42D298          30202.0   23        CALHOUN    GA  34.502587
40    W42E243           1075.0    1     HIGH RIDGE    MO  38.460800
41    W43A005          16542.0   13          TYLER    TX  32.318400
42    W43A009           1280.0    1   COLLEGE PARK    GA  33.636300
43    W43A010           2560.0    2          MIAMI    FL  25.761680
44    W43A031          10680.0   10      CLACKAMAS    OR  45.413500
45    W43A083           8541.0    9        LEBANON    OH  39.425400
46    W43A138           1996.0    2    SIOUX FALLS    SD  43.539600
47    W43A196           2740.0    4     FORT WORTH    TX  32.781700
48    W43A199            744.0    2      SUNNYVALE    TX  32.797400
49    W43A200            744.0    2   JACKSONVILLE    FL  30.332184
50    W43A211           3660.0   10      VACAVILLE    CA  38.356577
51    W43A219          13015.0   19   JACKSONVILLE    FL  30.332184
52    W43A226          12438.0    9         CORONA    CA  33.875293
53    WX42C07           4096.0    4     SHREVEPORT    LA  32.465300

     Longitude
0   -87.978956
1   -92.375200
2   -88.731800
3  -117.650888
4   -96.796988
5   -86.581939
6   -79.608096
7   -86.291102
8   -88.415385
9   -95.992775
10  -96.948894
11 -117.161084
12  -89.535800
13  -74.477200
14  -83.649500
15  -96.997785
16  -88.326711
17 -122.158578
18  -82.458753
19  -82.458753
20 -121.987744
21  -96.580800
22 -110.974177
23 -122.038397
24 -118.220071
25  -86.457300
26  -87.895618
27 -121.290780
28 -119.787125
29  -98.494592
30  -84.610221
31 -119.859583
32  -96.390100
33  -82.321500
34  -89.630122
35 -103.205227
36  -86.797100
37 -122.019130
38  -86.446366
39  -84.951054
40  -90.533800
41  -95.306200
42  -84.464000
43  -80.191790
44 -122.546900
45  -84.213300
46  -96.731100
47  -97.347400
48  -96.557700
49  -81.655651
50 -121.987744
51  -81.655651
52 -117.566438
53  -93.795500

In [58]:
import pandas as pd
from sklearn.cluster import DBSCAN
from geopy.distance import great_circle

# Sample DataFrame with latitude and longitude columns
# data = {'latitude': [40.7128, 34.0522, 37.7749, 41.8781, 32.7767, 33.953350],
#         'longitude': [-74.0060, -118.2437, -122.4194, -87.6298, -96.7970, -117.396156]}
# df = pd.DataFrame(data)

# df = df_ll.copy()
print(df)

# Function to calculate Haversine distance
def haversine(coord1, coord2):
    return great_circle(coord1, coord2).miles

# DBSCAN clustering based on Haversine distance
epsilon = 50  # radius for clustering in miles
min_samples = 1  # minimum number of points to form a cluster

# Fit the DBSCAN model
df['cluster'] = DBSCAN(eps=epsilon, min_samples=min_samples, metric=haversine).fit_predict(df[['Latitude', 'Longitude']])

# Initialize the 'group' column with zeros
df['group'] = 0

# Iterate over unique clusters and assign groups
group_counter = 1
for cluster_id in df['cluster'].unique():
    cluster_indices = df[df['cluster'] == cluster_id].index
    closest_points = df.loc[cluster_indices, ['Latitude', 'Longitude']]

    # Calculate pairwise distances within the cluster
    for idx in cluster_indices:
        distances = closest_points.apply(lambda row: haversine((df.at[idx, 'Latitude'], df.at[idx, 'Longitude']),
                                                               (row['Latitude'], row['Longitude'])), axis=1)
        closest_indices = distances.nsmallest(3).index

        # Assign the group number to the selected points
        df.loc[closest_indices, 'group'] = group_counter

    group_counter += 1

# Display the resulting DataFrame
#print(df[['latitude', 'longitude', 'group']])
# Order the DataFrame by the 'group' column
df_sorted = df.sort_values(by='group')

# Display the resulting DataFrame
print(df_sorted[['Latitude', 'Longitude', 'group']])
df_sorted.to_csv('group.csv')

   B/L Number  B/L Weight (LB)  Plt           City State   Latitude  \
0     W41A727           5894.0   14      WOOD DALE    IL  41.963363
1     W41A919          28519.0   19        CROWLEY    LA  30.217500
2     W41A929           6440.0    5         TUPELO    MS  34.269200
3     W41C097           5478.0    6        ONTARIO    CA  34.063344
4     W41D848           7680.0    6         DALLAS    TX  32.776664
5     W42A038           9745.0   10      LA VERGNE    TN  36.015618
6     W42A152           7820.0   19     RUFFS DALE    PA  40.175072
7     W42A210           7345.0    5        LEBANON    TN  36.208110
8     W42A330           9002.0    7       APPLETON    WI  44.261931
9     W42A379           9474.0    7          TULSA    OK  36.153982
10    W42A395           4392.0   12         IRVING    TX  32.814018
11    W42A481           2482.0    2      SAN DIEGO    CA  32.715738
12    W42A585           2560.0    2         RIPLEY    TN  35.744900
13    W42A639          26624.0   26     MORRISTOWN    NJ  40.796700
14    W42A707           5641.0    4  BOWLING GREEN    OH  41.377600
15    W42A739           7680.0    5  GRAND PRAIRIE    TX  32.745964
16    W42A778           7446.0    6          PARIS    TN  36.302002
17    W42A800           4662.0    4        BENICIA    CA  38.049365
18    W42A869           5332.0    4          TAMPA    FL  27.951690
19    W42A899           4460.0   10          TAMPA    FL  27.951690
20    W42A998           3840.0    3      VACAVILLE    CA  38.356577
21    W42B020          13571.0    9        DENISON    TX  33.767200
22    W42B028          10333.0    7         TUCSON    AZ  32.253979
23    W42B032           8154.0    6         NEWARK    CA  37.529976
24    W42B056           9025.0    9        COMPTON    CA  33.895849
25    W42B099           2560.0    2     PRATTVILLE    AL  32.459700
26    W42B108          14465.0   11      NORTHLAKE    IL  41.917253
27    W42B109          19549.0   13       STOCKTON    CA  37.957702
28    W42B194           7445.0    5         FRESNO    CA  36.737798
29    W42B235          10441.0   14    SAN ANTONIO    TX  29.425190
30    W42B251           6678.0    9         WALTON    KY  38.875619
31    W42B287           6935.0    5      RIVERDALE    CA  36.431061
32    W42B306           7340.0    6     SIOUX CITY    IA  42.495900
33    W42B356          20016.0   14          LYONS    GA  32.206200
34    W42B357          11507.0   10         WAUSAU    WI  44.959135
35    W42B939           6052.0    4         CLOVIS    NM  34.404799
36    W42C078           1382.0    1     BIRMINGHAM    AL  33.527900
37    W42C347           3660.0   10     UNION CITY    CA  37.595770
38    W42D189           8960.0    7       GALLATIN    TN  36.388343
39    W42D298          30202.0   23        CALHOUN    GA  34.502587
40    W42E243           1075.0    1     HIGH RIDGE    MO  38.460800
41    W43A005          16542.0   13          TYLER    TX  32.318400
42    W43A009           1280.0    1   COLLEGE PARK    GA  33.636300
43    W43A010           2560.0    2          MIAMI    FL  25.761680
44    W43A031          10680.0   10      CLACKAMAS    OR  45.413500
45    W43A083           8541.0    9        LEBANON    OH  39.425400
46    W43A138           1996.0    2    SIOUX FALLS    SD  43.539600
47    W43A196           2740.0    4     FORT WORTH    TX  32.781700
48    W43A199            744.0    2      SUNNYVALE    TX  32.797400
49    W43A200            744.0    2   JACKSONVILLE    FL  30.332184
50    W43A211           3660.0   10      VACAVILLE    CA  38.356577
51    W43A219          13015.0   19   JACKSONVILLE    FL  30.332184
52    W43A226          12438.0    9         CORONA    CA  33.875293
53    WX42C07           4096.0    4     SHREVEPORT    LA  32.465300

     Longitude  cluster  group
0   -87.978956        0      1
1   -92.375200        1      2
2   -88.731800        2      3
3  -117.650888        3      4
4   -96.796988        4      5
5   -86.581939        5      6
6   -79.608096        6      7
7   -86.291102        5      6
8   -88.415385        7      8
9   -95.992775        8      9
10  -96.948894        4      5
11 -117.161084        9     10
12  -89.535800       10     11
13  -74.477200       11     12
14  -83.649500       12     13
15  -96.997785        4      5
16  -88.326711       13     14
17 -122.158578       14     15
18  -82.458753       15     16
19  -82.458753       15     16
20 -121.987744       14     15
21  -96.580800       16     17
22 -110.974177       17     18
23 -122.038397       14     15
24 -118.220071        3      4
25  -86.457300       18     19
26  -87.895618        0      1
27 -121.290780       14     15
28 -119.787125       19     20
29  -98.494592       20     21
30  -84.610221       21     22
31 -119.859583       19     20
32  -96.390100       22     23
33  -82.321500       23     24
34  -89.630122       24     25
35 -103.205227       25     26
36  -86.797100       26     27
37 -122.019130       14     15
38  -86.446366        5      6
39  -84.951054       27     28
40  -90.533800       28     29
41  -95.306200       29     30
42  -84.464000       30     31
43  -80.191790       31     32
44 -122.546900       32     33
45  -84.213300       21     22
46  -96.731100       33     34
47  -97.347400        4      5
48  -96.557700        4      5
49  -81.655651       34     35
50 -121.987744       14     15
51  -81.655651       34     35
52 -117.566438        3      4
53  -93.795500       35     36
     Latitude   Longitude  group
0   41.963363  -87.978956      1
26  41.917253  -87.895618      1
1   30.217500  -92.375200      2
2   34.269200  -88.731800      3
52  33.875293 -117.566438      4
24  33.895849 -118.220071      4
3   34.063344 -117.650888      4
15  32.745964  -96.997785      5
10  32.814018  -96.948894      5
47  32.781700  -97.347400      5
48  32.797400  -96.557700      5
4   32.776664  -96.796988      5
7   36.208110  -86.291102      6
38  36.388343  -86.446366      6
5   36.015618  -86.581939      6
6   40.175072  -79.608096      7
8   44.261931  -88.415385      8
9   36.153982  -95.992775      9
11  32.715738 -117.161084     10
12  35.744900  -89.535800     11
13  40.796700  -74.477200     12
14  41.377600  -83.649500     13
16  36.302002  -88.326711     14
50  38.356577 -121.987744     15
37  37.595770 -122.019130     15
27  37.957702 -121.290780     15
23  37.529976 -122.038397     15
17  38.049365 -122.158578     15
20  38.356577 -121.987744     15
18  27.951690  -82.458753     16
19  27.951690  -82.458753     16
21  33.767200  -96.580800     17
22  32.253979 -110.974177     18
25  32.459700  -86.457300     19
28  36.737798 -119.787125     20
31  36.431061 -119.859583     20
29  29.425190  -98.494592     21
45  39.425400  -84.213300     22
30  38.875619  -84.610221     22
32  42.495900  -96.390100     23
33  32.206200  -82.321500     24
34  44.959135  -89.630122     25
35  34.404799 -103.205227     26
36  33.527900  -86.797100     27
39  34.502587  -84.951054     28
40  38.460800  -90.533800     29
41  32.318400  -95.306200     30
42  33.636300  -84.464000     31
43  25.761680  -80.191790     32
44  45.413500 -122.546900     33
46  43.539600  -96.731100     34
49  30.332184  -81.655651     35
51  30.332184  -81.655651     35
53  32.465300  -93.795500     36