Geocoding & places API with google maps API
Activate Geocoding api and Places API

In [1]:
# import googlemaps
from pprint import pprint
import requests
import pandas as pd
from urllib.parse import urlencode
import sqlite3
import re

In [7]:
google_maps_api_key = 'AIzaSyBSkxPvw0KCszCH3SwOynTdRqGyfIB_ORc'

In [4]:
# read ipg, drop SUBTOTAL
df = pd.read_excel(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")

df = df[df['Product Code'] != 'SUBTOTAL']

city_state = df[['Ship to City', 'State']]
city_state.drop_duplicates(inplace=True)
city_state

C:\Users\TonyW\AppData\Local\Temp\ipykernel_32804\3077081657.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_state.drop_duplicates(inplace=True)

     Ship to City State
0          WALNUT    CA
2          FOWLER    CA
4          CORONA    CA
10      ST GEORGE    UT
15       TOLLESON    AZ
...           ...   ...
1265       GENTRY    AR
1271  COLLEGEDALE    TN
1281       MENTOR    OH
1294     PLYMOUTH    MN
1295      HAMMOND    WI

[277 rows x 2 columns]

In [10]:
df = pd.read_csv(r'nolat.csv')
city_state = df[['Ship to City', 'State']]
city_state.drop_duplicates(inplace=True)
city_state

C:\Users\tonyw\AppData\Local\Temp\ipykernel_14452\2980238580.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  city_state.drop_duplicates(inplace=True)

       Ship to City State
0              WEED    CA
1           COMPTON    CA
2    PORT COQUITLAM    BC
4            FOWLER    CA
18   FOOTHILL RANCH    CA
..              ...   ...
771      LOVES PARK    IL
772          MENTOR    OH
778    BUENOS AIRES    XX
780            CARY    NC
781      GREENFIELD    IN

[239 rows x 2 columns]

In [5]:
def extract_lat_lng(address_or_postalcode, data_type = 'json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)
    if r.status_code not in range(200, 299): 
        return {}
    latlng = {}
    try:
        latlng = r.json()['results'][0]['geometry']['location']
    except:
        pass
    return latlng.get("lat"), latlng.get("lng")

In [8]:
extract_lat_lng('Lolita, TX')

(28.8394332, -96.5424743)

In [20]:
# Assuming df is your DataFrame containing "Ship to City" and "State" columns
latitudes = []
longitudes = []
city_state = []

for index, row in city_state.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(city_state)
    latitudes.append(lat)
    longitudes.append(lng)
    city_state.append(city_state)

# Create a new DataFrame to store the results
output_df = pd.DataFrame({
    'City_State': city_state,
    'Latitude': latitudes,
    'Longitude': longitudes
})

# Save the DataFrame to a CSV file
output_df.to_csv('city_state_lat_lng2.csv', index=False)

AttributeError: 'list' object has no attribute 'iterrows'

In [5]:
first_10 = city_state.iloc[:-10]

In [6]:
# Create SQLite connection and cursor
conn = sqlite3.connect('geocoding_data.db')
cur = conn.cursor()

# Create a table to store the data
cur.execute('''CREATE TABLE IF NOT EXISTS geolocation (
               City TEXT,
               State TEXT,
               Latitude REAL,
               Longitude REAL)''')

# Assuming df is your DataFrame containing "Ship to City" and "State" columns
for index, row in first_10.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(address)
    # Insert data into SQLite table
    cur.execute("INSERT INTO geolocation(City, State, Latitude, Longitude) VALUES (?, ?, ?, ?)", (city, state, lat, lng))

# Commit changes and close connection
conn.commit()
conn.close()

In [12]:
df = pd.read_excel(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")
last_column_name = df.columns[-1]
print(last_column_name)

# Define a regex pattern to extract date and hour
pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')
# Use regex to extract date and hour
match = pattern.search(last_column_name)

if match:
    # Extracted date and hour
    extracted_date = match.group(1)
    extracted_hour = match.group(2)

    print("Extracted Date:", extracted_date)
    print("Extracted Hour:", extracted_hour)
    df['report_date'] = extracted_date
    df['report_hour'] = extracted_hour
else:
    print("Pattern not found in the given string.")

df.to_csv('ipg.csv')

Report run at 2024-3-7 H12M0
Extracted Date: 2024-3-7
Extracted Hour: 12

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1298 entries, 0 to 1297
Data columns (total 33 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   SITE                               902 non-null    object
 1   B/L Number                         902 non-null    object
 2   Truck Appointment Date (YY/MM/DD)  902 non-null    object
 3   B/L Weight (LB)                    902 non-null    float64
 4   Freight Amount ($)                 902 non-null    float64
 5   Truck Appt. Time                   396 non-null    object
 6   PickUp Date (YY/MM/DD)             902 non-null    object
 7   State                              902 non-null    object
 8   Ship to City                       902 non-null    object
 9   Ship to Customer                   902 non-null    object
 10  Order Number                       902 non-null    object
 11  Order Item                         902 non-null    float64
 12  CSR                                902 non-null    object
 13  Freight Term                       902 non-null    object
 14  Require Date (YY/MM/DD)            902 non-null    object
 15  Schedule Date (YY/MM/DD)           902 non-null    object
 16  Unshipped Weight (Lb)              902 non-null    float64
 17  Product Code                       1298 non-null   object
 18  Pick Weight (Lb)                   1298 non-null   float64
 19  Number of Pallet                   1298 non-null   int64
 20  Pickup By                          902 non-null    object
 21  Change Date (YY/MM/DD)             902 non-null    object
 22  Carrier ID                         420 non-null    object
 23  Arrange By                         420 non-null    object
 24  Unit Freight (cent/Lb)             902 non-null    float64
 25  Waybill Number                     376 non-null    object
 26  Sales Code                         902 non-null    object
 27  Transportation Code                902 non-null    object
 28  Transaction Type                   902 non-null    object
 29  Product Group                      902 non-null    object
 30  Report run at 2024-3-7 H12M0       0 non-null      float64
 31  report_date                        1298 non-null   object
 32  report_hour                        1298 non-null   object
dtypes: float64(7), int64(1), object(25)
memory usage: 334.8+ KB

In [6]:
import pandas as pd
import sqlite3
import re
from datetime import datetime

# Read the Excel file into a DataFrame
df = pd.read_excel('AmTopp Current Pickup Detail Report as of 2024-3-4 H9M0.xlsx')
df = df[df['Product Code'] != 'SUBTOTAL']

# Get the name of the last column
last_column_name = df.columns[-1]
df['report_run'] = last_column_name

df

,SITE,B/L Number,Truck Appointment Date (YY/MM/DD),B/L Weight (LB),Freight Amount ($),Truck Appt. Time,PickUp Date (YY/MM/DD),State,Ship to City,Ship to Customer,...,Carrier ID,Arrange By,Unit Freight (cent/Lb),Waybill Number,Sales Code,Transportation Code,Transaction Type,Product Group,Report run at 2024-3-4 H9M0,report_run
0,AMAZ,WZ1B218,0,1348.00,0.0,NaN,24/01/30,BC,PORT COQUITLAM,SYSCO VANCOUVER - 044,...,NaN,NaN,0.0,NaN,SWSP,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
2,AMAZ,WZ2A087,0,9078.00,0.0,NaN,24/03/01,NM,CLOVIS,SOUTHWEST CHEESE CO LLC,...,NaN,NaN,0.0,NaN,SWCK,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
4,AMAZ,WZ2A135,0,11329.00,0.0,NaN,24/02/26,CA,FOOTHILL RANCH,"NOVATECH PACKAGING SYSTEMS, INC",...,NaN,NaN,0.0,NaN,SWJV,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
5,AMAZ,WZ2A135,0,11329.00,0.0,NaN,24/03/01,CA,FOOTHILL RANCH,"NOVATECH PACKAGING SYSTEMS, INC",...,NaN,NaN,0.0,NaN,SWJV,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
7,AMAZ,WZ2A325,0,6205.00,0.0,NaN,24/02/26,AZ,PHOENIX,AMERICAN MACHINERY PACKAGING,...,NaN,NaN,0.0,NaN,SWCK,T,RS,SW,NaN,Report run at 2024-3-4 H9M0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1102,VAMT,2068423,0,33693.35,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1104,VAMT,2068424,0,37944.34,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1105,VAMT,2068424,0,37944.34,0.0,NaN,24/03/03,AR,GENTRY,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1107,VAMT,2068425,0,32758.74,0.0,NaN,24/03/03,TN,COLLEGEDALE,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0
1108,VAMT,2068425,0,32758.74,0.0,NaN,24/03/03,TN,COLLEGEDALE,MCKEE FOODS CORP,...,NaN,NaN,0.0,NaN,CFLV,T,RS,BP,NaN,Report run at 2024-3-4 H9M0

In [34]:
import pandas as pd
import sqlite3
import re
from datetime import datetime

# Read the Excel file into a DataFrame
df = pd.read_excel('AmTopp Current Pickup Detail Report as of 2024-3-4 H12M0.xlsx')
df = df[df['Product Code'] != 'SUBTOTAL']

# Get the name of the last column
last_column_name = df.columns[-1]
df['report_run'] = last_column_name

# Define a regex pattern to extract date and hour
pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')

# Use regex to extract date and hour for each row in the 'report_run' column
df['extracted'] = df['report_run'].apply(lambda x: pattern.search(str(x)))

# Extracted date and hour
df['extracted_date'] = df['extracted'].apply(lambda x: x.group(1) if x else None)
df['extracted_hour'] = df['extracted'].apply(lambda x: x.group(2) if x else None)

# Convert 'extracted_hour' to int
df['report_hour'] = pd.to_numeric(df['extracted_hour'], errors='coerce').astype('Int64')

# Convert 'extracted_date' to datetime
df['report_date'] = pd.to_datetime(df['extracted_date'], errors='coerce')


df['Truck Appointment Date'] = pd.to_datetime(df['Truck Appointment Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['PickUp Date'] = pd.to_datetime(df['PickUp Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Require Date'] = pd.to_datetime(df['Require Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Schedule Date'] = pd.to_datetime(df['Schedule Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')
df['Change Date'] = pd.to_datetime(df['Change Date (YY/MM/DD)'], format='%y/%m/%d', errors='coerce')

# columns to keep 
columns_to_keep = [
    'SITE', 'B/L Number', 'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
       'State', 'Ship to City', 'Ship to Customer',
       'Order Number', 'Order Item', 'CSR', 'Freight Term',
       'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
       'Number of Pallet', 'Pickup By', 'Carrier ID',
       'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
       'Transportation Code', 'Transaction Type', 'Product Group',
       'report_run', 'report_hour', 'report_date', 'Truck Appointment Date',
       'PickUp Date', 'Require Date', 'Schedule Date', 'Change Date'
]
df = df[columns_to_keep]
df

,SITE,B/L Number,B/L Weight (LB),Freight Amount ($),Truck Appt. Time,State,Ship to City,Ship to Customer,Order Number,Order Item,...,Transaction Type,Product Group,report_run,report_hour,report_date,Truck Appointment Date,PickUp Date,Require Date,Schedule Date,Change Date
0,AMAZ,WZ2A087,9078.00,0.00,NaN,NM,CLOVIS,SOUTHWEST CHEESE CO LLC,W42A087,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-01,2024-03-01,2024-03-01,2024-03-01
2,AMAZ,WZ2A296,3895.00,0.00,NaN,WA,BLAINE,CROWN PACKAGING/IPS,W42A296,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-03-13,2024-03-13,2024-03-04
4,AMAZ,WZ2A325,6205.00,0.00,NaN,AZ,PHOENIX,AMERICAN MACHINERY PACKAGING,W42A325,2.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-26,2024-02-29,2024-02-29,2024-02-26
6,AMAZ,WZ2A399,3370.00,0.00,NaN,CA,FONTANA,WORLD CLASS DISTRIBUTION - FONTANA,W42A399,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-27,2024-03-12,2024-03-12,2024-02-27
8,AMAZ,WZ2A502,23192.00,0.00,NaN,CA,CORONA,TRM MANUFACTURING,W42A502,1.0,...,RS,SW,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-02-20,2024-03-15,2024-03-15,2024-02-20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1401,VAMT,2068428,38405.43,1028.96,NaN,TN,MEMPHIS,BRYCE CORPORATION,B4TA695,2.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,2024-03-14,2024-03-04,2024-03-15,2024-03-15,2024-03-04
1403,VAMT,2068429,29398.40,0.00,NaN,MO,JACKSON,MONDI - JACKSON WAREHOUSE,B4TA232,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-02-14,2024-03-04,2024-03-04
1404,VAMT,2068429,29398.40,0.00,NaN,MO,JACKSON,MONDI - JACKSON WAREHOUSE,B4TA248,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-02-23,2024-03-04,2024-03-04
1406,VAMT,2068430,6034.12,1020.00,NaN,GA,ROME,PPC FLEXIBLE PACKAGING,B4TA034,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,2024-03-06,2024-03-04,2024-01-31,2024-01-31,2024-03-04
1408,VAMT,2068432,36972.59,0.00,NaN,IN,GREENFIELD,AVERY DENNISON CORPORATION,B4TA702,1.0,...,RS,BP,Report run at 2024-3-4 H12M0,12,2024-03-04,NaT,2024-03-04,2024-03-11,2024-03-11,2024-03-04

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 950 entries, 0 to 1408
Data columns (total 33 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   SITE                    950 non-null    object
 1   B/L Number              950 non-null    object
 2   B/L Weight (LB)         950 non-null    float64
 3   Freight Amount ($)      950 non-null    float64
 4   Truck Appt. Time        325 non-null    object
 5   State                   950 non-null    object
 6   Ship to City            950 non-null    object
 7   Ship to Customer        950 non-null    object
 8   Order Number            950 non-null    object
 9   Order Item              950 non-null    float64
 10  CSR                     950 non-null    object
 11  Freight Term            950 non-null    object
 12  Unshipped Weight (Lb)   950 non-null    float64
 13  Product Code            950 non-null    object
 14  Pick Weight (Lb)        950 non-null    float64
 15  Number of Pallet        950 non-null    int64
 16  Pickup By               950 non-null    object
 17  Carrier ID              352 non-null    object
 18  Arrange By              352 non-null    object
 19  Unit Freight (cent/Lb)  950 non-null    float64
 20  Waybill Number          295 non-null    object
 21  Sales Code              950 non-null    object
 22  Transportation Code     950 non-null    object
 23  Transaction Type        950 non-null    object
 24  Product Group           950 non-null    object
 25  report_run              950 non-null    object
 26  report_hour             950 non-null    Int64
 27  report_date             950 non-null    datetime64[ns]
 28  Truck Appointment Date  352 non-null    datetime64[ns]
 29  PickUp Date             950 non-null    datetime64[ns]
 30  Require Date            950 non-null    datetime64[ns]
 31  Schedule Date           950 non-null    datetime64[ns]
 32  Change Date             950 non-null    datetime64[ns]
dtypes: Int64(1), datetime64[ns](6), float64(6), int64(1), object(19)
memory usage: 253.3+ KB

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'geo.csv')
df

               City State   Latitude   Longitude
0    PORT COQUITLAM    BC  49.262838 -122.781071
1            CLOVIS    NM  34.404799 -103.205227
2            FOWLER    CA  36.630506 -119.678470
3    FOOTHILL RANCH    CA  33.683183 -117.666431
4            DENVER    CO  39.739236 -104.990251
..              ...   ...        ...         ...
234      SCOTT CITY    MO  37.216718  -89.524534
235        LEWISTON    ME  44.100351  -70.214776
236         GLENCOE    MN  44.769044  -94.151752
237        BLUFFTON    IN  40.738658  -85.171637
238    CHESTERFIELD    MI  42.696066  -82.799419

[239 rows x 4 columns]

In [4]:
import sqlite3

conn = sqlite3.connect('ipg.db')
df.to_sql('lat_lng', conn, if_exists='replace', index=True)

239

In [4]:
import pandas as pd 

df = pd.read_csv(r"C:\Users\tonyw\Downloads\2024-03-06T02-32_export.csv")


import requests
from urllib.parse import urlencode

def extract_lat_lng(address_or_postalcode, data_type='json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)

    if r.status_code not in range(200, 299):
        return None, None

    latlng = {}
    try:
        results = r.json().get('results', [])
        if results:
            geometry = results[0].get('geometry', {})
            location = geometry.get('location', {})
            latlng = {
                'lat': location.get('lat'),
                'lng': location.get('lng')
            }
    except Exception as e:
        print(f"Error parsing response: {e}")

    lat = latlng.get('lat')
    lng = latlng.get('lng')

    return lat, lng


# Assuming null_lat_lng_rows is your DataFrame containing rows with null values
for index, row in df.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(city_state)

    
    # Now you can use lat and lng as needed, and they will be None if not available
    print(f"Address: {address}, Lat: {lat}, Lng: {lng}")

NameError: name 'city_state' is not defined

In [17]:
df = pd.read_csv(r"C:\Users\tonyw\Downloads\2024-03-06T02-32_export.csv")

df = df[['State', 'Ship to City']]

subset_columns = ['State', 'Ship to City']
no_dups_df = df.drop_duplicates(subset=subset_columns)
no_dups_df

   State   Ship to City
0     WA       WOODLAND
2     WA       PUYALLUP
3     CO      HENDERSON
4     WI        OSHKOSH
5     MA        SPENCER
8     QC     TERREBONNE
9     OH   LEWIS CENTER
11    VA       DANVILLE
12    LA     SHREVEPORT
13    AR    HOT SPRINGS
14    AL     BIRMINGHAM
15    AZ       TOLLESON
16    MN    MINNEAPOLIS
17    IA         ANKENY
20    NJ      MOONACHIE
21    MD   WILLIAMSPORT
23    NJ     PENNSAUKEN
24    MO      HAZELWOOD
26    MN          OSSEO
28    PA        BERWICK
29    NC    STATESVILLE
31    VA     DISPUTANTA
32    NC  BROWNS SUMMIT
34    TN      CLEVELAND
36    KY         LONDON
37    AR         GENTRY
40    VA  STUARTS DRAFT
41    TN    COLLEGEDALE
47    IL  DOWNERS GROVE
51    IL     LOVES PARK
52    OH         MENTOR
56    XX   BUENOS AIRES
58    NC           CARY
59    IN     GREENFIELD

In [19]:
import pandas as pd
import requests
from urllib.parse import urlencode

def extract_lat_lng(address_or_postalcode, data_type='json'):
    endpoint = f"https://maps.googleapis.com/maps/api/geocode/{data_type}"
    params = {"address": address_or_postalcode, "key": google_maps_api_key}
    url_params = urlencode(params)
    url = f"{endpoint}?{url_params}"
    r = requests.get(url)

    if r.status_code not in range(200, 299):
        return None, None

    latlng = {}
    try:
        results = r.json().get('results', [])
        if results:
            geometry = results[0].get('geometry', {})
            location = geometry.get('location', {})
            latlng = {
                'lat': location.get('lat'),
                'lng': location.get('lng')
            }
    except Exception as e:
        print(f"Error parsing response: {e}")

    lat = latlng.get('lat')
    lng = latlng.get('lng')

    return lat, lng

# Assuming df_no_duplicates is your DataFrame without duplicates
# Create a new DataFrame to store the results
df_with_lat_lng = pd.DataFrame(columns=['Ship to City', 'State', 'Lat', 'Lng'])

# Iterate over rows in df_no_duplicates and apply extract_lat_lng
for index, row in no_dups_df.iterrows():
    city = row['Ship to City']
    state = row['State']
    address = f"{city}, {state}"
    lat, lng = extract_lat_lng(address)

    # Append the results to df_with_lat_lng
    df_with_lat_lng = df_with_lat_lng.append({'Ship to City': city, 'State': state, 'Lat': lat, 'Lng': lng}, ignore_index=True)

# Display the DataFrame with latitude and longitude information
print(df_with_lat_lng)

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\TonyW\Downloads\IPG_EZ_lat_lon.csv")
df

          id        city_ascii state_id        lat        lon
0          1        San German       PR  18.082700 -67.046000
1          2           Luyando       PR  18.357500 -67.155300
2          3            Aguada       PR  18.380300 -67.188400
3          4        Carrizales       PR  18.481100 -66.787900
4          5         Corcovado       PR  18.461000 -66.777800
...      ...               ...      ...        ...        ...
30866  30869  SCHODACK LANDING       NY  42.475080 -73.744870
30867  30870          WINTHROP       ME  44.305140 -69.977300
30868  30871         LYNDHURST       NJ  40.802738 -74.122864
30869  30872          PEMBROKE       NH  43.146750 -71.457570
30870  30874       SAINT LOUIS       MO  38.627003 -90.199402

[30871 rows x 5 columns]

In [7]:
df = df.rename(columns={
    'id': 'Index',
    'city_ascii': 'City',
    'state_id': 'State',
    'lat': 'Latitude',
    'lon': 'Longitude'
})
df

          ID              City State   Latitude  Longitude
0          1        San German    PR  18.082700 -67.046000
1          2           Luyando    PR  18.357500 -67.155300
2          3            Aguada    PR  18.380300 -67.188400
3          4        Carrizales    PR  18.481100 -66.787900
4          5         Corcovado    PR  18.461000 -66.777800
...      ...               ...   ...        ...        ...
30866  30869  SCHODACK LANDING    NY  42.475080 -73.744870
30867  30870          WINTHROP    ME  44.305140 -69.977300
30868  30871         LYNDHURST    NJ  40.802738 -74.122864
30869  30872          PEMBROKE    NH  43.146750 -71.457570
30870  30874       SAINT LOUIS    MO  38.627003 -90.199402

[30871 rows x 5 columns]

In [9]:
import sqlite3
df = df[['City',	'State',	'Latitude',	'Longitude']]
# SQLite database connection
conn = sqlite3.connect('ipg.db')  # Change 'your_database.db' to your desired SQLite database file name

# Append DataFrame to the 'lat_lon' table in the SQLite database
df.to_sql('lat_lng', conn, index=False, if_exists='append')
conn.close()

In [2]:
import pandas as pd
import sqlite3

conn = sqlite3.connect('ipg.db')

df = pd.read_csv(r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx")
df
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1532 entries, 0 to 1531
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              1532 non-null   int64
 1   SITE                    1532 non-null   object
 2   B/L Number              1532 non-null   object
 3   B/L Weight (LB)         1532 non-null   float64
 4   Freight Amount ($)      1532 non-null   float64
 5   Truck Appt. Time        682 non-null    object
 6   State                   1532 non-null   object
 7   Ship to City            1532 non-null   object
 8   Ship to Customer        1532 non-null   object
 9   Order Number            1532 non-null   object
 10  Order Item              1532 non-null   int64
 11  CSR                     1532 non-null   object
 12  Freight Term            1532 non-null   object
 13  Unshipped Weight (Lb)   1532 non-null   float64
 14  Product Code            1532 non-null   object
 15  Pick Weight (Lb)        1532 non-null   float64
 16  Number of Pallet        1532 non-null   int64
 17  Pickup By               1532 non-null   object
 18  Carrier ID              720 non-null    object
 19  Arrange By              720 non-null    object
 20  Unit Freight (cent/Lb)  1532 non-null   float64
 21  Waybill Number          646 non-null    object
 22  Sales Code              1532 non-null   object
 23  Transportation Code     1532 non-null   object
 24  Transaction Type        1532 non-null   object
 25  Product Group           1532 non-null   object
 26  report_run              1532 non-null   object
 27  report_hour             1532 non-null   int64
 28  report_date             1532 non-null   object
 29  Truck Appointment Date  720 non-null    object
 30  PickUp Date             1532 non-null   object
 31  Require Date            1532 non-null   object
 32  Schedule Date           1530 non-null   object
 33  Change Date             1532 non-null   object
 34  file_name               1532 non-null   object
 35  City                    1513 non-null   object
 36  Latitude                1513 non-null   float64
 37  Longitude               1513 non-null   float64
dtypes: float64(7), int64(4), object(27)
memory usage: 454.9+ KB

In [2]:
from utils.process_excel_data import process_excel_data
file = r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx"



df = process_excel_data(file)
df

DatabaseError: Execution failed on sql 'SELECT DISTINCT file_name FROM shipments WHERE file_name = 'AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx'': no such table: shipments

In [17]:
import re
import pandas as pd 
import sqlite3
import os

def process_excel_data_x(file_path):
    """
    Process data from an Excel file and perform necessary transformations.

    Parameters:
    - file_path (str): Path to the Excel file.

    Returns:
    - pd.DataFrame: Processed DataFrame with selected columns.
    """

    # Read the Excel file into a DataFrame
    df = pd.read_excel(file_path)
    # Use os.path.basename to get the file name from the file path
    file_name = os.path.basename(file_path)
    # Filter out rows with 'Product Code' equal to 'SUBTOTAL'
    df = df[df['Product Code'] != 'SUBTOTAL']

  
    # Get the name of the last column
    last_column_name = df.columns[-1]
    df['report_run'] = last_column_name

    # Define a regex pattern to extract date and hour
    pattern = re.compile(r'(\d{4}-\d{1,2}-\d{1,2})\s*H(\d{1,2})M\d+')

    # Use regex to extract date and hour for each row in the 'report_run' column
    df['extracted'] = df['report_run'].apply(lambda x: pattern.search(str(x)))

    # Extracted date and hour
    df['extracted_date'] = df['extracted'].apply(lambda x: x.group(1) if x else None)
    df['extracted_hour'] = df['extracted'].apply(lambda x: x.group(2) if x else None)

    # Convert 'extracted_hour' to int
    df['report_hour'] = pd.to_numeric(df['extracted_hour'], errors='coerce').astype('Int64')

    # Convert 'extracted_date' to datetime
    df['report_date'] = pd.to_datetime(df['extracted_date'], errors='coerce')

    # Convert date columns to datetime
    date_columns = ['Truck Appointment Date (YY/MM/DD)', 'PickUp Date (YY/MM/DD)',
                    'Require Date (YY/MM/DD)', 'Schedule Date (YY/MM/DD)',
                    'Change Date (YY/MM/DD)']

    for col in date_columns:
        df[col.replace(' (YY/MM/DD)', '')] = pd.to_datetime(df[col], format='%y/%m/%d', errors='coerce')

    # Columns to keep
    columns_to_keep = [
        'SITE', 'B/L Number', 'B/L Weight (LB)', 'Freight Amount ($)', 'Truck Appt. Time',
        'State', 'Ship to City', 'Ship to Customer',
        'Order Number', 'Order Item', 'CSR', 'Freight Term',
        'Unshipped Weight (Lb)', 'Product Code', 'Pick Weight (Lb)',
        'Number of Pallet', 'Pickup By', 'Carrier ID',
        'Arrange By', 'Unit Freight (cent/Lb)', 'Waybill Number', 'Sales Code',
        'Transportation Code', 'Transaction Type', 'Product Group',
        'report_run', 'report_hour', 'report_date', 'Truck Appointment Date',
        'PickUp Date', 'Require Date', 'Schedule Date', 'Change Date'
    ]

    # Select the columns to keep
    df = df[columns_to_keep]
    # Add file name to df
    df['file_name'] = file_name
    conn = sqlite3.connect('ipg.db')
    query = 'Select City, State, Latitude, Longitude from lat_lng'
    lat_lng_df = pd.read_sql_query(query, conn)

    # Merge the lat_lng data with your original DataFrame
    df = pd.merge(df, lat_lng_df, left_on=['State', 'Ship to City'], right_on=['State', 'City'], how='left')
   
    # Check for existing records with the same file_name
    # existing_query = f"SELECT DISTINCT file_name FROM shipments WHERE file_name = '{file_name}'"
    
    # existing_records = pd.read_sql_query(existing_query, conn)
    # print(existing_records)
    # # Filter out existing records
    # new_records_df = df[~df['file_name'].isin(existing_records['file_name'])]

    # # Insert new records into the shipments table
    df.to_sql('shipments', conn, index=False, if_exists='append')

    conn.close()



    

    return df

In [18]:
#from utils.process_excel_data import process_excel_data

file = r"C:\Users\TonyW\Downloads\AmTopp Current Pickup Detail Report as of 2024-3-7 H12M0.xlsx"
df = process_excel_data_x(file)

KeyError: 'Ship to City'

'W41B255'